In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
dataset = pd.read_csv('kt2.csv')
testset = pd.read_csv('kaggletest.csv')

In [3]:
dataset.head()

,ID,Age,BusinessTravel,DailyRate,Department,DistanceFromHome,Gender,HourlyRate,JobInvolvement,JobLevel,...,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,WorkLifeBalance,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,FormalWarnings,ProjectsContributed,YearsAtCompany
0,1,44.0,Travel_Rarely,1376.0,Human Resources,1,Male,91.0,2.0,3,...,1,1098,2.0,3.0,6,3.0,6,0,15.0,20
1,2,25.0,Non-Travel,675.0,Research & Development,5,Male,85.0,4.0,2,...,1,369,2.0,3.0,3,1.0,5,0,7.0,6
2,3,57.0,Travel_Rarely,210.0,Sales,29,Male,56.0,2.0,4,...,1,568,1.0,2.0,0,0.0,0,0,3.0,1
3,4,47.0,Travel_Rarely,1180.0,Research & Development,25,Male,84.0,3.0,3,...,1,1993,1.0,3.0,14,12.0,11,0,14.0,17
4,5,22.0,Travel_Rarely,391.0,Research & Development,7,Male,75.0,3.0,1,...,1,1878,4.0,3.0,0,0.0,0,0,5.0,1

In [4]:
dataset.isnull().sum()

ID                          0
Age                         1
BusinessTravel              0
DailyRate                   1
Department                  0
DistanceFromHome            0
Gender                      0
HourlyRate                  2
JobInvolvement              1
JobLevel                    0
JobRole                     0
JobSatisfaction             1
MaritalStatus               0
MonthlyIncome               0
MonthlyRate                 1
NumCompaniesWorked          1
Over18                      0
OverTime                    0
PercentSalaryHike           1
PerformanceRating           0
CommunicationSkill          0
Behaviour                   0
Experience                  0
LvlGrownInOrg               1
ContributionIndex           0
TechnicalExpertise          0
RelationshipSatisfaction    1
StandardHours               0
StockOptionLevel            0
TotalWorkingYears           1
TrainingTimesLastYear       0
Education                   1
EducationField              0
EmployeeCount               0
EmployeeNumber              0
EnvironmentSatisfaction     1
WorkLifeBalance             1
YearsInCurrentRole          0
YearsSinceLastPromotion     1
YearsWithCurrManager        0
FormalWarnings              0
ProjectsContributed         1
YearsAtCompany              0
dtype: int64

In [5]:
from sklearn.preprocessing import LabelEncoder
for column in dataset.columns:
        if dataset[column].dtype == np.number:
            continue
        dataset[column] = LabelEncoder().fit_transform(dataset[column])
for column in testset.columns:
        if testset[column].dtype == np.number:
            continue
        testset[column] = LabelEncoder().fit_transform(testset[column])

<ipython-input-5-5c89e6c47b49>:3: DeprecationWarning: Converting `np.inexact` or `np.floating` to a dtype is deprecated. The current result is `float64` which is not strictly correct.
  if dataset[column].dtype == np.number:
<ipython-input-5-5c89e6c47b49>:7: DeprecationWarning: Converting `np.inexact` or `np.floating` to a dtype is deprecated. The current result is `float64` which is not strictly correct.
  if testset[column].dtype == np.number:

In [6]:
ds = dataset[['ID','Age','YearsAtCompany','CommunicationSkill','Department','DistanceFromHome','Education','EducationField','EnvironmentSatisfaction','Gender','HourlyRate','JobInvolvement','JobLevel','JobRole','JobSatisfaction','MaritalStatus','MonthlyIncome','MonthlyRate','NumCompaniesWorked','OverTime','Over18','PercentSalaryHike','PerformanceRating','RelationshipSatisfaction','StockOptionLevel','TotalWorkingYears','TrainingTimesLastYear','WorkLifeBalance','YearsInCurrentRole','YearsSinceLastPromotion','YearsWithCurrManager','StandardHours']].copy()
ts = testset[['ID','Age','CommunicationSkill','Department','DistanceFromHome','Education','EducationField','EnvironmentSatisfaction','Gender','HourlyRate','JobInvolvement','JobLevel','JobRole','JobSatisfaction','MaritalStatus','MonthlyIncome','MonthlyRate','NumCompaniesWorked','OverTime','Over18','PercentSalaryHike','PerformanceRating','RelationshipSatisfaction','StockOptionLevel','TotalWorkingYears','TrainingTimesLastYear','WorkLifeBalance','YearsInCurrentRole','YearsSinceLastPromotion','YearsWithCurrManager','StandardHours']].copy()

In [7]:
ds = ds.apply(np.int64)
ts = ts.apply(np.int64)
x = ds.drop('YearsAtCompany', axis=1)
y = ds['YearsAtCompany']

In [8]:
print(x)

        ID  Age  CommunicationSkill  Department  DistanceFromHome  Education  \
0        0   44                   3           0                 0          2
1        1   25                   4           1                 4          2
2        2   57                   1           2                28          3
3        3   47                   0           1                24          3
4        4   22                   2           1                 6          1
...    ...  ...                 ...         ...               ...        ...
1225  1225   29                   4           1                 6          3
1226  1226   41                   1           1                27          4
1227  1227   36                   2           2                12          5
1228  1228   23                   1           1                 3          3
1229  1229   31                   0           2                25          4

      EducationField  EnvironmentSatisfaction  Gender  HourlyRate  ...  \
0                  3                        2       1          91  ...
1                  1                        2       1          85  ...
2                  2                        1       1          56  ...
3                  3                        1       1          84  ...
4                  1                        4       1          75  ...
...              ...                      ...     ...         ...  ...
1225               5                        2       0          39  ...
1226               1                        1       0          60  ...
1227               2                        2       1          96  ...
1228               3                        1       1          58  ...
1229               2                        1       1          63  ...

      PerformanceRating  RelationshipSatisfaction  StockOptionLevel  \
0                     0                         4                 1
1                     0                         4                 2
2                     0                         3                 1
3                     1                         2                 0
4                     1                         1                 0
...                 ...                       ...               ...
1225                  0                         1                 2
1226                  1                         3                 1
1227                  0                         2                 3
1228                  0                         1                 1
1229                  0                         3                 0

      TotalWorkingYears  TrainingTimesLastYear  WorkLifeBalance  \
0                    24                      1                3
1                     6                      2                3
2                    32                      3                2
3                    25                      3                3
4                     1                      2                3
...                 ...                    ...              ...
1225                 10                      2                3
1226                 21                      3                3
1227                 16                      3                3
1228                  5                      3                4
1229                 10                      4                3

      YearsInCurrentRole  YearsSinceLastPromotion  YearsWithCurrManager  \
0                      6                        3                     6
1                      3                        1                     5
2                      0                        0                     0
3                     14                       12                    11
4                      0                        0                     0
...                  ...                      ...                   ...
1225                   7                        7                     7
1226                   7                        0                    10
1227                   2                        2                     2
1228                   2                        0                     2
1229                   7                        0                     8

      StandardHours
0                 0
1                 0
2                 0
3                 0
4                 0
...             ...
1225              0
1226              0
1227              0
1228              0
1229              0

[1230 rows x 31 columns]

In [9]:
print(y)

0       20
1        6
2        1
3       17
4        1
        ..
1225     7
1226    20
1227     2
1228     3
1229    10
Name: YearsAtCompany, Length: 1230, dtype: int64

In [10]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 0)
#generally we prefer 75:25 ration for train set and test set but since the data here is less i used 80:20 ratio

In [11]:
print(x_train)

        ID  Age  CommunicationSkill  Department  DistanceFromHome  Education  \
268    268   37                   3           2                 0          4
1074  1074   29                   0           1                 7          4
406    406   27                   0           1                 1          4
554    554   43                   2           1                 5          3
270    270   29                   2           1                 0          3
...    ...  ...                 ...         ...               ...        ...
763    763   33                   0           1                24          3
835    835   28                   1           1                 1          4
1216  1216   38                   4           2                 0          4
559    559   46                   4           2                 1          3
684    684   25                   3           2                 7          3

      EducationField  EnvironmentSatisfaction  Gender  HourlyRate  ...  \
268                3                        3       1          31  ...
1074               4                        2       1          77  ...
406                1                        1       0          47  ...
554                3                        1       0          81  ...
270                1                        4       0          87  ...
...              ...                      ...     ...         ...  ...
763                3                        1       1          55  ...
835                3                        3       1          46  ...
1216               1                        4       1          86  ...
559                1                        3       1          74  ...
684                1                        4       1          57  ...

      PerformanceRating  RelationshipSatisfaction  StockOptionLevel  \
268                   0                         3                 2
1074                  0                         4                 0
406                   0                         2                 1
554                   0                         4                 0
270                   0                         2                 2
...                 ...                       ...               ...
763                   1                         2                 0
835                   0                         4                 0
1216                  0                         1                 2
559                   0                         2                 1
684                   1                         3                 1

      TotalWorkingYears  TrainingTimesLastYear  WorkLifeBalance  \
268                   6                      2                2
1074                  7                      4                2
406                   4                      2                3
554                  21                      2                3
270                   9                      2                2
...                 ...                    ...              ...
763                   5                      0                3
835                   5                      3                2
1216                 16                      3                3
559                  13                      5                2
684                   4                      4                3

      YearsInCurrentRole  YearsSinceLastPromotion  YearsWithCurrManager  \
268                    3                        1                     3
1074                   7                        0                     7
406                    2                        2                     2
554                   12                        6                    14
270                    7                        1                     7
...                  ...                      ...                   ...
763                    2                        2                     2
835                    2                        2                     1
1216                  13                        5                     8
559                    6                        0                     3
684                    2                        1                     2

      StandardHours
268               0
1074              0
406               0
554               0
270               0
...             ...
763               0
835               0
1216              0
559               0
684               0

[984 rows x 31 columns]

In [12]:
print(y_train)

268      6
1074     7
406      3
554     16
270      7
        ..
763      2
835      2
1216    15
559     10
684      3
Name: YearsAtCompany, Length: 984, dtype: int64

In [13]:
print(x_test)

        ID  Age  CommunicationSkill  Department  DistanceFromHome  Education  \
18      18   35                   4           1                15          3
342    342   27                   4           1                13          3
467    467   41                   1           1                 0          3
1205  1205   43                   4           1                 0          3
858    858   41                   0           1                 4          2
...    ...  ...                 ...         ...               ...        ...
649    649   33                   3           1                 0          5
716    716   40                   2           1                15          4
427    427   30                   2           1                 1          4
818    818   47                   3           1                13          4
899    899   23                   1           1                19          1

      EducationField  EnvironmentSatisfaction  Gender  HourlyRate  ...  \
18                 1                        4       0          91  ...
342                1                        1       1          42  ...
467                1                        4       1          76  ...
1205               1                        4       0          33  ...
858                1                        1       1          95  ...
...              ...                      ...     ...         ...  ...
649                3                        1       0          95  ...
716                3                        1       1          51  ...
427                5                        4       0          78  ...
818                5                        3       1          64  ...
899                1                        1       1          97  ...

      PerformanceRating  RelationshipSatisfaction  StockOptionLevel  \
18                    0                         4                 0
342                   0                         4                 2
467                   1                         1                 1
1205                  0                         2                 1
858                   0                         1                 1
...                 ...                       ...               ...
649                   0                         3                 1
716                   0                         4                 0
427                   0                         4                 0
818                   0                         3                 1
899                   0                         2                 0

      TotalWorkingYears  TrainingTimesLastYear  WorkLifeBalance  \
18                   11                      3                1
342                   9                      3                2
467                  12                      3                3
1205                 12                      2                2
858                   5                      2                1
...                 ...                    ...              ...
649                  10                      2                3
716                  10                      6                3
427                  10                      2                3
818                  16                      4                4
899                   5                      2                3

      YearsInCurrentRole  YearsSinceLastPromotion  YearsWithCurrManager  \
18                     8                        3                     3
342                    7                        6                     8
467                    3                        1                     0
1205                   2                        2                     2
858                    0                        0                     0
...                  ...                      ...                   ...
649                    1                        0                     5
716                    0                        0                     0
427                    7                        0                     7
818                    7                        1                     7
899                    3                        1                     2

      StandardHours
18                0
342               0
467               0
1205              0
858               0
...             ...
649               0
716               0
427               0
818               0
899               0

[246 rows x 31 columns]

In [14]:
print(y_test)

18      11
342      9
467      5
1205     5
858      1
        ..
649      6
716      1
427      9
818      8
899      4
Name: YearsAtCompany, Length: 246, dtype: int64

In [15]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
x_train = sc.fit_transform(x_train)
x_test = sc.transform(x_test)

In [16]:
print(x_train)

[[-0.94917413  0.03189505  0.58819813 ...  0.03189505 -0.31355581
   0.        ]
 [ 1.30650947  0.03189505 -1.53709058 ...  0.03189505  0.79729537
   0.        ]
 [-0.56296528  0.03189505 -1.53709058 ...  0.03189505 -0.5912686
   0.        ]
 ...
 [ 1.70391279  0.03189505  1.2966277  ...  0.03189505  1.07500817
   0.        ]
 [-0.1347772   0.03189505  1.2966277  ...  0.03189505 -0.31355581
   0.        ]
 [ 0.21504966  0.03189505  0.58819813 ...  0.03189505 -0.5912686
   0.        ]]

In [17]:
print(x_test)

[[-1.64882786  0.03189505  1.2966277  ...  0.03189505 -0.31355581
   0.        ]
 [-0.74207663  0.03189505  1.2966277  ...  0.03189505  1.07500817
   0.        ]
 [-0.39224977  0.03189505 -0.82866101 ...  0.03189505 -1.14669419
   0.        ]
 ...
 [-0.50419436  0.03189505 -0.12023144 ...  0.03189505  0.79729537
   0.        ]
 [ 0.59006406  0.03189505  0.58819813 ...  0.03189505  0.79729537
   0.        ]
 [ 0.81675187  0.03189505 -0.82866101 ...  0.03189505 -0.5912686
   0.        ]]

In [18]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
lr.fit(x_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [19]:
y_pred = lr.predict(x_test)

In [20]:
y_pred2 = lr.predict(ts)
print(y_pred2.astype(int))

[        -63         -79         -68        -104         -34         -72
         -52        -136         -75         -35          -2         -65
        -128         -77        -127         -44           6        -158
         -80         -34        -101         -89           4         -53
        -122         -15         -14         -57         -53         -59
         -24         -20         -76         -25         -99         -38
        -141         -95        -133        -104        -135        -104
           7        -113        -165          -6          -4         -22
         -27         -78         -98         -93        -104         -68
         -70          -3        -127         -34         -93         -90
         -92         -46           1        -162        -127         -58
         -64         -65        -133         -79         -90           0
         -99         -82         -65         -87         -40         -52
         -26          10         -26        -115          -8         -99
        -106        -153         -92         -56        -117        -110
         -86 -2147483648          -4          -9         -93          -7
         -72        -123         -10        -120        -107         -23
        -108         -91         -45         -26        -104        -114
         -11        -157         -10        -101        -111           9
        -140          -6         -58           2         -55        -162
         -45          -3         -29         -80         -52         -35
        -144         -63         -51         -24        -102         -20
           3         -89           0          17         -88         -10
        -104         -47         -68         -91          -3         -43
        -110        -103         -77         -26         -27         -53
         -51         -71         -77          16         -48         -99
         -75        -107          -8           5         -26        -112
        -101         -78        -148         -76         -82        -144
         -41         -16          17         -86        -150         -98
         -82        -135        -116         -22           7        -109
         -45         -21         -23          -9         -60         -72
         -37         -51         -46         -58         -11         -69
         -96         -30         -62         -18         -29        -105
         -86         -66         -50          23        -134        -121
         -88        -144         -47         -41          45           1
 -2147483648          18         -61         -68         -96         -64
         -34          11         -66         -55         -33         -83
         -25          -9         -65         -91        -124           5
         -72         -71         -63          11         -65         -36
           7         -32         -95         -84          11         -36]

In [21]:
sub = pd.read_csv('D:\Hackethon\ML Kaggle\Warriors.csv')
sub['YearsAtCompany'] = y_pred2.astype(int) 
sub.to_csv('D:\Hackethon\ML Kaggle\Warriors.csv',index=False)